/*HEADER*/

.header-img {
    height: 200px;
    width: 100%;
    margin: -10px;
}

/*FOOTER*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

/*PHOTO GALLERY*/

#photos {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    /* width: 33.33%; */
}

figure {
    margin: .5em;
    position: relative;
}

figure img {
    width: 100%;
}

figcaption {
    display: none;
}

figure:hover > figcaption {
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

figcaption h3 {
    margin: 0;
    text-align: center;
}
