/*HEADER*/

.header-img {
    height: 200px;
    width: 100%;
    margin: -10px;
}

/*FOOTER*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}
