/*HEADER*/

.header-img {
    height: 500px;
    width: 100%;
}

.navi{
    background: rgba(0, 0, 0, 0);
    transition: 1s;
}

.navi.black{
    background: #000;
    transition: 1s;
}

.navbar-brand{
    color: #000 !important;
}

.navbar-brand.black{
    color: #fff !important;
}

.nav-link{
    color: #000 !important;
}

.nav-link.black{
    color: #fff !important;
}

.navbar-toggler{
    background-color: transparent !important;
}

.navbar-toggler.black{
    background-color: #fff !important;
    background-color: transparent
}

/*FOOTER*/

footer {
    background-color: lightgray;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
